{% extends 'base.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/balance_list.css' %}" />
{% endblock extracss %}

{% block content %}
<div class="table-responsive">
<table class= "balance-table table table-hover">
  <thead>
    <tr>
      <th>項目名</th>
      <th>金額</th>
      <th>日時</th>
      <th>カテゴリー</th>
      <th>収入/支出</th>
    </tr>
  </thead>
  <tbody>
    {% for item in balance %}
      <tr>
        <td>
         <a href="{% url 'kakeibo:balance_detail' item.pk %}"> {{ item.item_name }} </a>
        </td>
        <td>
          {{ item.amount }}
        </td>
        <td>
          {{ item.registered_date }}
        </td>
        <td>
          {{ item.category }}
        </td>
        <td>
          {{ item.balance_type }}
        </td>
        <td> 
            <a href="{% url 'kakeibo:balance_edit' balance_id=item.pk %}"
              class = "btn btn-secondary"
            >
              編集
            </a>
        </td>
        <td> 
            <a href="{% url 'kakeibo:balance_delete' balance_id=item.pk %}"
               class = "btn btn-danger"
            >
              削除
            </a>
        </td>
        <td>
          <a></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div>
<p>
  <a href="{% url 'kakeibo:balance_add' %}"
    class = 'btn btn-primary'
  >
    新規追加
  </a>
</p>

{% endblock content %}
